build-1-2EventsDemo-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
build-1-4EventPropagationDemo-QTSTATIC-Debug
build-1-6OverrideEventMethodDemo-QTstatic-Debug
build-1-7EventFilerOnApplicationDemo-QTSTATIC-Debug
build-1-8EventFilterOnQObjectDemo-QTSTATIC-Debug
build-2-2ComposingWidgetDemo-QTSTATIC-Debug
