build-1-2EventsDemo-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
build-1-4EventPropagationDemo-QTSTATIC-Debug
build-1-6OverrideEventMethodDemo-QTstatic-Debug
build-1-7EventFilerOnApplicationDemo-QTSTATIC-Debug
build-1-8EventFilterOnQObjectDemo-QTSTATIC-Debug
build-2-2ComposingWidgetDemo-QTSTATIC-Debug
build-4-5WaterLevelMonitoringSystemDemo-5_15_2_static-Debug
build-2-3ModifyingExistingWidgetDemo-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
build-2-3ModifyingExistingWidgetDemo-5_15_2_static-Debug
build-3-1CoordinateSystemDemo-QTSTATIC-Debug
build-3-10ShapeMakerDemo-5_15_2_static-Debug
build-4-5ClipboardDemo-QTSTATIC-Debug
5-1QListWidgetDemo/.qtc_clangd
build*
*.qtc_clangd*
*debug*
